@import "_normalize";
@import "_variables";
@import "_animations";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #45d40c;
    font: 1.3rem Inconsolata, monospace;
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
}

.content {
    list-style: none;
    width: 100%;

    &--fields {
        margin-left: 66px;
    }
    &--data {
        display: block;
        word-wrap: break-word;
        max-width: 320px;
        width: 100%;
    }
}

.form {
    max-width: 400px;
    width: 100%;
    margin: 150px 0 0 200px;
    @media (max-width: $mobile) {
        margin: 20px auto 0 auto;
    }
}

.form-field {
    display: block;
    &__input {
        width: 80%;
        @media (max-width: $mobile) {
            width: 100%;
        }
        height: 56px;
        padding-left: 10px;
        border: 1px solid #45d40c;
        background: transparent;
        color: #45d40c;
        &::placeholder {
            padding-left: 18px;
            font-size: 14px;
            line-height: 24px;
            color: #45d40c;
        }
        &:focus {
            outline: 4px solid #45d40c;
        }
    }
    &__label {
        font-size: 14px;
        font-weight: 600;
        display: block;
        margin-bottom: -9px;
    }
}

.header {
    position: absolute;
    z-index: -1;
    @media (max-width: $mobile) {
        position: relative;
    }
    &__title {
        transform: rotate(-45deg) translate(-120%, -50%);
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        line-height: 64px;
        position: relative;
        &::before {
            position: absolute;
            content: url(../assets/img/github.png);
            margin: -110px 0 0 30px;
            @media (max-width: $mobile) {
                position: relative;
                transform: none;
            }
        }
        @media (max-width: $mobile) {
            margin: 50px 0 0 0;
            font-size: 34px;
            transform: none;
        }
    }
}

.main {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.repository-wrapper {
    display: block;
    max-width: 800px;
    width: 90%;
}

.repository {
    margin-top: 26px;
    max-width: 640px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.separator {
    display: block;
    border-bottom: 5px solid #45d40c;
    max-width: 832px;
    width: 100%;
    margin-top: 48px;
}

.shell {
    display: block;
    max-width: 800px;
    width: 90%;
    margin: 40px auto 0 auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    &__body {
        margin: 0;
        padding: 5px;
        list-style: none;
        background: #141414;
        color: #45d40c;
        font: 0.8em Inconsolata, monospace;
        line-height: 1.2em;

        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        a {
            color: #45d40c;
        }
    }
    &__body-element {
        word-wrap: break-word;
        position: relative;
        padding: 0 0 0 15px;
        min-height: 30px;
        &::before {
            content: "$";
            position: absolute;
            left: 0;
            top: 0;
        }
        &--typing {
            white-space: nowrap;
            overflow: hidden;
            animation: typing 3s steps(72, end);
        }
        &--typing-second {
            white-space: nowrap;
            opacity: 0;
            overflow: hidden;
            animation: typing1 2s 3s steps(17, end);
            animation-fill-mode: forwards;
        }
        &--typing-third {
            white-space: nowrap;
            opacity: 0;
            overflow: hidden;
            animation: typing1 1s 5s steps(3, end);
            animation-fill-mode: forwards;
        }
    }
    &__button::before {
        position: absolute;
        border-radius: 50%;
        top: 0;
        height: 12px;
        width: 12px;
        content: "";
        border: 0.1px solid rgb(207, 205, 205);
        @media (max-width: $mobile) {
          display: none;
        }
    }
    &__button--left::before {
        background-color: red;
        margin: 10px 0 0 10px;
    }
    &__button--middle::before {
        background-color: #f1ee0d;
        margin: 10px 0 0 30px;
    }
    &__button--right::before {
        background-color: #0cca2c;
        margin: 10px 0 0 50px;
    }
    &__top-bar {
        text-align: center;
        color: #525252;
        padding: 5px 0;
        margin: 0;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
        font-size: 0.85em;
        border: 1px solid #cccccc;
        border-bottom: none;

        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        background: #f7f7f7; /* Old browsers */
        background: -moz-linear-gradient(
            top,
            #f7f7f7 0%,
            #b8b8b8 100%
        ); /* FF3.6+ */
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0%, #f7f7f7),
            color-stop(100%, #b8b8b8)
        ); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(
            top,
            #f7f7f7 0%,
            #b8b8b8 100%
        ); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(
            top,
            #f7f7f7 0%,
            #b8b8b8 100%
        ); /* Opera 11.10+ */
        background: -ms-linear-gradient(
            top,
            #f7f7f7 0%,
            #b8b8b8 100%
        ); /* IE10+ */
        background: linear-gradient(
            to bottom,
            #f7f7f7 0%,
            #b8b8b8 100%
        ); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
        &::before {
            content: " ";
            font-size: 10px;
            background: red;
            border-radius: 10%;
        }
    }
}
